<main class="masthead login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <h1 class="mb-3 text-center">Ingresa tus datos y juega</h1>
                
                <div class="modal-overlay">
                    <div class="modal">
                        <h1 class="mt-3 mt-5 text-center">{{text1}}</h1>
                        <h2 class="mt-2 mb-5 text-center">{{text2}}</h2>
                        <button class="btn btn-primary rounded-pill btn-lg w-100 mt-2" ng-click="hideModal()">Volver</a>
                    </div>
                </div>

                <form name="myForm" class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-12 mb-2">
                            <label for="name" class="form-label form-control-label">Nombre</label>
                            <input type="text" class="form-control form-control-lg" id="name"
                                placeholder="Ej: Juan Pérez" value="" name="name" ng-model="name" required="">
                            <div class="invalid-feedback">
                                Ingresa tu nombre.
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="rut" class="form-label form-control-label">RUT</label>
                            <input type="text" class="form-control form-control-lg" id="rut"
                                placeholder="Ej: 12.345.678-k" value="" name="rut" ng-model="rut" required="">
                            <div class="invalid-feedback">
                                Ingresa tu nombre.
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="email" class="form-label form-control-label">Email <span
                                    class="text-muted">(Opcional)</span></label>
                            <input type="email" class="form-control form-control-lg" id="email"
                                placeholder="tu@correo.cl" value="" name="email" ng-model="email">
                            <div class="invalid-feedback">
                                Ingresa tu email.
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="code" class="form-label form-control-label">Código Cristal</label>
                            <input type="text" class="form-control form-control-lg" id="code"
                                placeholder="Ej: 123ABC" value="" name="code" ng-model="code" required="">
                            <div class="invalid-feedback">
                                Ingresa el Código Cristal.
                            </div>
                        </div>
                    </div>
    
                    <hr class="my-3">
                    <button class="btn btn-primary rounded-pill btn-lg w-100" type="submit" ng-click="goPlay()" ng-disabled="myForm.$invalid"> Comenzar a jugar</a>
    
                </form>
            </div>
        </div>
    </div>
</main>

